# Node / React
node_modules/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React env
.env

# Python / Flask
__pycache__/
*.pyc
*.pyo
venv/
master.hash

# dotenv
.env.*
# System files
.DS_Store

# Render/Netlify/Vercel configs
render.yaml
netlify.toml